@media(max-width: 900px){
    .redecom-logo img{
        width:25rem;
        height:20rem;
    }
    .login-area{
        width:80vw;
        max-width:35rem;
    }
    input::-webkit-input-placeholde{
        font-size:1rem;
    }
    .login-dados{
        font-size:1rem;
    }
    .login-dados input{
        width:75vw;
        max-width:28rem;
        height:3rem;
        font-size:1.5rem;
        border-radius: 3rem;
    }
    .acessbtn{
        width:80vw;
        max-width:28rem;
        font-size:1rem;
    }
    .acessbtn button{
        width:10rem;
        height:4rem;
    }
    .infos-login{
        margin-right:-1rem;
    }
    .infos-login .bottomm{
        margin-top:1rem;
    }
    .bottomm a{
        font-size:1.2rem;
    }
}
