@media(max-width: 430px){
    .meu-painel{
        padding:0;
        font-size: 2rem;
        min-height: 75vh;
        
    }
    .tutorial{
        display:none;
        width:90%;
        max-width: 30rem;
        height:35vh;
        max-height:20rem;
        margin:1rem;
    }
    .not-exclamacao{
        width:10vw;
    }
    .not-exclamacao img{
        width:20vw;
        max-width:10rem;
    }
    .notificacao .not-text{
        width:95%;
        height: 100%;
        display:flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:1rem;
        flex-direction:column;
    }
    .not-text p{
        font-size:1.2rem;
    }
    .not-text h2{
        font-size: 1.7rem;
        margin:0;
    }
    .painel{
        width:100%;
        max-width:35rem;
        min-width: 10rem !important;
        min-height:72vh!important;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding:0;
        grid-template-rows: 7rem 45rem 5rem ;
        max-width: 80vw;
    }
    .painel-header{
        width:80%;
        min-width: 15rem;
        max-width: 85vw;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }
    .painel-header h1{
        font-size: 1rem;
    }
    .painel-header div{
        width:10rem;
        border-top: 2px solid #223450;
    }
    .painel-header select{
        width:7rem;
        height:2.5rem;
        font-size:1.1rem;
        line-height: 11px;
        align-items: center;
    }
    
    .list{
        width:100%;
        max-width: 35rem;
        min-width:100%;
        overflow: hidden;
    }

    .list .list-data span{
        font-size: 0.7rem;
    }

    .list-over{
        
        width:100%;
        max-width:35rem;
        min-width:100%;
        min-height: 40rem;
    }
    .btn-novaDemanda{
        min-height:2rem;
        max-height:2rem;
        font-size: 1.3rem;
    }

    .request-topic{
        height: 5rem;
    }

    .wrapper-not{
        top: 13;
    }
}

@media(max-width: 1230px){
    .notificacao-tutorial{
        padding: 1rem;
    }

    .not-text{
        width: 70vw;
        font-size: 0.7rem;
    }

    .not-text h2{
        margin-top: 1rem;
        font-size:1.5rem;
    }

    .not-text p{
        font-size:1.2rem;
    }

   
    .notificacao {
        width: 80%;
    }
    .wrapper-not{
        top: 1.5rem;
    }

    .painel{
        width: 90vw;
        min-width: 10rem !important;
    }

    .painel-header{
        width:80%;
        min-width: 15rem;
        max-width: 85vw;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }
}

@media(max-width: 620px){
    .not-exclamacao img{
        width: 12rem;
        height: 9rem;
      
    }

    .not-text p{
        font-size:1.02rem;
    }
    
    .notificacao{
        width: 80%;
       
    }

    .wrapper-not{
        position:relative;
        top: 1.4rem;
    }

    .painel{
        margin-top: 1rem;
        width: 90vw;
        min-width: 5rem;
    }

    .painel-header{
        width:80%;
        min-width: 15rem;
        max-width: 85vw;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }

    .painel-header h1{
        font-size: 1.5rem;
    }
    

    .painel-header select{
        height: 3rem;
        width: 10rem;
        font-size: 1.3rem;
    }

    .list .list-data span{
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {

}