@media(max-width: 480px){
  footer{
    width: 100%;
  }

  h5{
    width: 100%;
    font-size: 0.85rem;
  }

  h6{
    width: 100%;
    font-size: 1rem;
  }

  .footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 9.5rem;
    overflow: hidden;
  }
}