.messageLine{
    display:flex;
    margin: 1rem 1.2rem 0 1rem;
    padding:0 4rem 0 4rem;
}
.messageItem{
    min-width:5rem;
    max-width:35rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.messageText{
    font-size:1.5rem;
    text-align:left;
    padding:.5rem;
    border-radius:1rem;
    background-color:rgba(48, 64, 91, 0.551);
    color:#fff;
    margin:.2rem;
    border:none;
}
.messageFile{
    font-size:1.5rem;
    text-align:left;
    padding:.5rem;
    border-radius:1rem;
    background-color:rgba(48, 64, 91, 0.551);
    color:#fff;
    margin:.2rem;
    border:none;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.messageAuthor{
    font-size:1.3rem;
    text-align:left;
    color:#223450;
    margin-top:-.3rem;
}
.messageDate{
    font-size:1.2rem;
    text-align:right;
    color:#223450;
    margin-top:-.3rem;
}